<form action="/auth/sign-in" method="post">
  <div>
    <label>Email: </label>
    <input type="email" name="email" required>
  </div>

  <div>
    <label>Password: </label>
    <input type="password" name="password" required>
  </div>

  <% if(wrongPass) { %>
    <a href=<%= `/auth/forget-password` %>>update password</a>
  <% } %>
  <button  type="submit">Sign In</button>
</form>