<%- include('../partials/header.ejs') %>
<form action="/auth/<%= user._id %>?_method=put" method="post">
  <div>
    <label>New Password: </label>
    <input type="password" name="newPassword" required>
  </div>

  <div>
    <label>Confirm Password: </label>
    <input type="password" name="confirmPassword" required>
  </div>

  <button  type="submit">Update</button>
</form>
<%- include('../partials/footer.ejs') %>