<%- include('../partials/header.ejs') %>
<div>
  <a href="/auth/admin-add-lesson">Add New Lesson</a>
  <a href="/auth/admin-delete-lesson">Delete Lesson</a>
</div>
<%- include('../partials/footer.ejs') %>