<%- include('../partials/header.ejs') %>
<form action="/lessons/admin/add" method="post">
  <div>
    <label>Course Title: </label>
    <input type="text" name="courseTitle">
  </div>
  <div>
    <label>Title: </label>
    <input type="text" name="title">
  </div>
  <div>
    <label>Content:</label>
    <input type="text" name="content">
  </div>
  <div>
    <label>Description</label>
    <input type="text" name="description">
  </div>
  <button type="submit">Add</button>
</form>
<%- include('../partials/footer.ejs') %>