<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>NinjaCademy</title>
</head>
<body>
    <h1 class="main-heading">NinjaCademy</h1>

</div>

  <div class="layout">
    <aside class="sidebar">
      <a href="/" class="brand-link">
        <h2 class="brand">NinjaCademy</h2>
      </a>
      <ul>
        <li><a href="/courses/all">NinjaCademy Courses</a></li>
        <li><a href="/users/dashboard">My Dashboard</a></li>
      </ul>
    </aside>

      <div class="top-links">
        <% if(!user) { %>
          <a href="/auth/sign-up">Sign Up</a>
          <a href="/auth/sign-in">Sign In</a>
          <a href="/auth/admin-sign-in">Sign In As Admin</a>
        <% } else { %>
          <a href="/auth/sign-out">Sign out</a>
          <% if(user.isAdmin) { %>
            <a href="/auth/admin-dashboard">Admin Dashboard</a>
          <% } %>
        <% } %>
      </div>
      <main>