<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ninja Cademy</title>
</head>
<body>
  <main>
    <div>
      <% if(!user) { %>
        <a href="/auth/sign-up">sign-up</a>
        <a href="/auth/sign-in">sign-in</a>
      <% } else { %>
        <a href="/auth/sign-out">sign-out</a>
        <a href=<%= `/auth/${user._id}/update-password` %>>update password</a>
      <% } %>
      
    </div>

  </main>