<%- include('../partials/header.ejs') %>
<style>
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #faedcd;
    margin: 0;
    padding: 0;
  }

  .lesson-container {
    border-left: 5px solid #a3b18a;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 6px;
    max-width: 850px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }

  h1, h2 {
    text-align: center;
    color: #1d3557;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-align: justify;
  }
  .back-button {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 20px;
    background-color: #cce3d6;
    color: #1d3557;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    border: 2px solid #a3b18a;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }

  .back-button:hover {
    background-color: #a3b18a;
    color: black;
  }

</style>

<div class="lesson-container">
  <h1><%= lesson.title %></h1>
  <div>
    <%= lesson.content %>
  </div>
 <a href="/courses/all" class="back-button">← Back to Courses</a>
<%- include('../partials/footer.ejs') %>