<%- include('../partials/header.ejs') %>
  <h1><%= lesson.title %></h1>
  <div>
    <%= lesson.content %>
  </div>
  <a href="/users/dashboard">Back to Courses</a>
<%- include('../partials/footer.ejs') %>