<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NinjaCademy</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="layout">
    <aside class="sidebar">
      <a href="/" class="brand-link">
        <h2 class="brand">NinjaCademy</h2>
      </a>
      <ul>
        <li><a href="/courses/all">NinjaCademy Courses</a></li>
        <li><a href="/users/dashboard">My Dashboard</a></li>
        <li><a href="/auth/sign-out">Logout</a></li>
      </ul>
    </aside>

    <main>
      <%- body %>
    </main>
  </div>
      <%- include('./partials/header') %>
    <%- include('./partials/footer') %>
    <div class="top-links">
      <a href="/auth/sign-up">Sign Up</a>
        <a href="/auth/sign-in">Sign In</a>
      </div>
    </div>
</body>
</html>
