<%- include('../partials/header.ejs') %>
  <div>
    <div>
      <h3>Enrolled Courses</h3>
      <ul>
        <% user.coursesEnrolled.forEach((course) => { %>
          <li> <%= course %> </li>
        <% })%>
      </ul>
    </div>

    <div>
      <h3>Completed Courses</h3>
      <ul>
        <% user.coursesFinished.forEach((course) => { %>
          <li> <%= course %> </li>
        <% })%>
      </ul>
    </div>
  </div>
<%- include('../partials/footer.ejs') %>